<link rel="import" href="../lib/polymer/polymer.html">

<dom-module id="particpants-list">
  <template>
    <h5>Participants</h5>

    <ul id="participants" class="mdl-list">
      <template is="dom-repeat" items="{{participants}}">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">[[item]]</span>
        </li>
      </template>
    </ul>
  </template>

  <script>
    class ParticipantsList extends Polymer.Element {
      static get is() {
        return "particpants-list";
      }

      constructor() {
        super();
        this.participants = [];
      }

      addParticpant(id) {
        if (this.participants.indexOf(id) === -1) {
          this.push('participants', id);
        }
      }

      removeParticipant(id) {
        let index = this.participants.indexOf(id);
        if (index > -1) {
          this.splice('participants', index, 1);
        }
      }
    }

    customElements.define(ParticipantsList.is, ParticipantsList);
  </script>
</dom-module>
