﻿<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Scary Anonymous Chat</span>
    </div>
  </header>
</div>
<main class="mdl-layout__content">
  <div class="mdl-grid full-size">
    <grid-cell width="4">
      <particpants-list id="participants"></particpants-list>
    </grid-cell>
    <grid-cell width="8" class="flexy flexy-vertical main-content">
      <dl id="messages" class="mdl-list full-size overflowy"></dl>
      <form action="#" class="flexy flexy-horizontal">
        <paper-input label="Enter your message" id="textInput" class="full-size"></paper-input>
        <paper-button id="sendButton" style="background-color: --google-orange-500;" class="orange">Send</paper-button>
      </form>
    </grid-cell>
  </div>
</main>

@section Components {
  <link rel="import" href="~/components/participants-list.html">
  <link rel="import" href="~/components/grid-cell.html">
  <link rel="import" href="~/lib/paper-button/paper-button.html">
  <link rel="import" href="~/lib/paper-input/paper-input.html">
}
