﻿html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}

.mdl-layout--fixed-header {
  flex: 0 0 66px;
}

.mdl-layout__content {
  flex: 1 0 0px;
  display: flex;
}

.mdl-list__item {
  font-size: inherit;
}

.full-size {
  flex: 1 0 0px;
}

.flexy {
  display: flex;
}

.flexy-vertical {
  flex-direction: column;
}

.flexy-horizontal {
  flex-direction: row;
  align-items: center;
}

.overflowy {
  overflow-y: auto;
}

.main-content {
  background-color: white;
  padding: 0 16px;
}

dt {
  font-size: 75%;
  line-height: 14px;
}

dd {
  margin-left: 0;
  margin-bottom: 1em;
}

text-input {
  display: flex;
}
